<template>
  <div>
    <Header />

    <div class="container izquierda">
      <button class="btn btn-primary" v-on:click="nuevo()">
        Nuevo asociado
      </button>
      <br /><br />

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Cédula</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Estado</th>
            <th scope="col">Fecha</th>
            <th scope="col">Rol</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="detalle in datos"
            :key="detalle.id"
            v-on:click="editar(detalle.id)"
          >
            <th scope="row">{{ detalle.id }}</th>
            <td>{{ detalle.identificationNumber }}</td>
            <td>{{ detalle.firstName }}</td>
            <td>{{ detalle.lastName }}</td>
            <td>
              <span v-if="detalle.status">Activo</span>
              <span v-if="!detalle.status">Inactivo</span>
            </td>
            <td>{{ detalle.dateIn }}</td>
            <td>
              <span v-for="row in detalle.roles" :key="row.id">{{row.name}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script>
import Header from "@/components/Header.vue";
import axios from "axios";
export default {
  name: "AsociadoLista",
  data() {
    return {
      datos: null,
      pagina: 1,
    };
  },
  components: {
    Header,
  },
  methods: {
    editar(id) {
      this.$router.push("/asociados/editar/" + id);
    },
    nuevo() {
      this.$router.push("/asociados/nuevo");
    },
  },
  mounted: function () {
    let direccion = "http://localhost:8085/api/v1/associate/all";
    axios.get(direccion).then((data) => {
      this.datos = data.data;
      // console.log(this.datos);
    });
  },
};
</script>
<style  scoped>
.izquierda {
  text-align: left;
}
</style>
