<template>
  <div>
    <Header />
    <div class="container">
      <h4>Nuevo Asociado</h4>

      <form action="" class="form-horizontal">
        <div class="form-group left">
          <label for="" class="control-label col-sm-2">Cedula</label>
          <div class="col-sm-10">
            <input
              type="number"
              class="form-control"
              name="identificationNumber"
              id="identificationNumber"
              v-model="form.identificationNumber"
            />
          </div>
        </div>
        <div class="form-group left">
          <label for="" class="control-label col-sm-2">Nombre</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              name="firstName"
              id="firstName"
              v-model="form.firstName"
            />
          </div>
        </div>
        <div class="form-group left">
          <label for="" class="control-label col-sm-2">Apellidos</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              name="lastName"
              id="lastName"
              v-model="form.lastName"
            />
          </div>
        </div>
        <div class="form-group left row">
          <div class="col">
            <label for="" class="control-label col-sm-3">Estado</label>
            <div class="col-sm-10">
              <select name="status" id="status" v-model="form.status">
                <option value="1">Activo</option>
                <option value="0">Inactivo</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group left">
          <label for="" class="control-label col-sm-2">Fecha</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              name="dateIn"
              id="dateIn"
              v-model="form.dateIn"
            />
          </div>
        </div>
        <div class="form-group left">
          <label for="" class="control-label col-sm-2">Rol id</label>
          <div class="col-sm-10">
            <input
              type="number"
              class="form-control"
              name="rolId"
              id="rolId"
              v-model="form.rolId"
            />
          </div>
        </div>

        <div class="form-group">
          <button
            type="button"
            class="btn btn-primary mr-10"
            v-on:click="guardar()"
          >
            Guardar
          </button>
          <button
            type="button"
            class="btn btn-dark margen"
            v-on:click="salir()"
          >
            Salir
          </button>
        </div>
      </form>
    </div>
    <!-- <Footer /> -->
  </div>
</template>
<script>
import Header from "@/components/Header.vue";
//import Footer from '@/components/Footer.vue'
import axios from "axios";
export default {
  name: "NuevoAsociado",
  data: function () {
    return {
      form: {
        identificationNumber: "",
        firstName: "",
        lastName: "",
        status: "1",
        dateIn: "",
        rolId: "",
      },
    };
  },
  components: {
    Header,
    //Footer
  },
  methods: {
    guardar() {
      // this.form.token = localStorage.getItem("token");
      const payload = {
        identificationNumber: this.form.identificationNumber,
        firstName: this.form.firstName,
        lastName: this.form.lastName,
        status: parseInt(this.form.status),
        dateIn: this.form.dateIn,
        roles: [
          {
            'id': this.form.rolId
          }
        ],
      };

      axios
        .post("http://localhost:8085/api/v1/associate/save", payload)
        .then((data) => {
          console.log(data);
          this.makeToast("Hecho", data.data.message, "success");
          this.$router.push("/asociados");
        })
        .catch((e) => {
          console.log(e);
          this.makeToast("Error", "Error al guardar", "error");
        });
    },
    salir() {
      this.$router.push("/asociados");
    },
    makeToast(titulo, texto, tipo) {
      this.toastCount++;
      this.$bvToast.toast(texto, {
        title: titulo,
        variant: tipo,
        autoHideDelay: 5000,
        appendToast: true,
      });
    },
  },
};
</script>
<style scoped>
.left {
  text-align: left;
}
.mr-10 {
  margin-right: 10px;
}
</style>
