<template>
  <div>
    <Header />
    <div class="container">
      <form action="" class="form-horizontal">
        <div class="form-group left">
          <label for="" class="control-label col-sm-2">Nombre</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              name="name"
              id="name"
              v-model="form.name"
            />
          </div>
        </div>
        <div class="form-group left">
          <label for="" class="control-label col-sm-2">Total</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              name="total"
              id="total"
              v-model="form.total"
            />
          </div>
        </div>
        <div class="form-group left">
          <label for="" class="control-label col-sm-2">Valor</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              name="value"
              id="value"
              v-model="form.value"
            />
          </div>
        </div>
        <div class="form-group left">
          <label for="" class="control-label col-sm-2">Fecha</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              name="dateCreation"
              id="dateCreation"
              v-model="form.dateCreation"
            />
          </div>
        </div>
        <!--<div class="form-group left row">
                      <div class="col">
                            <label for="" class="control-label col-sm-3">Valor</label>
                            <div class="col-sm-10">
                                <select name="status" id="status" v-model="form.status">
                                    <option value="1">Activo</option>
                                    <option value="0">Inactivo</option>
                                </select>
                            </div>
                        </div>
                    </div>-->

        <div class="form-group">
          <button type="button" class="btn btn-primary" v-on:click="editar()">
            Editar
          </button>
          <button
            type="button"
            class="btn btn-danger margen"
            v-on:click="eliminar()"
          >
            Eliminar
          </button>
          <button
            type="button"
            class="btn btn-dark margen"
            v-on:click="salir()"
          >
            Salir
          </button>
        </div>
      </form>
    </div>
    <!-- <Footer />   -->
  </div>
</template>
<script>
import Header from "@/components/Header.vue";
//import Footer from '@/components/Footer.vue';
import axios from "axios";
export default {
  name: "EditarFondo",
  components: {
    Header,
    //Footer
  },
  data: function () {
    return {
      form: {
        name: "",
        total: "",
        //'status': '1',
        value: "",
        dateCreation: "",
      },
    };
  },
  methods: {
    editar() {
      const payload = {
        name: this.form.name,
        total: this.form.total,
        value: this.form.value,
        dateCreation: this.form.dateCreation,
        //'status': parseInt(this.form.status)
      };
      axios
        .put("http://localhost:8085/api/v1/fund/update", payload)
        .then((data) => {
          this.makeToast("Hecho", data.data.message, "success");
          console.log(data);
        });
    },
    salir() {
      this.$router.push("/fondos");
    },
    eliminar() {
      axios
        .delete("http://localhost:8085/api/v1/fund/delete/" + this.form.id)
        .then((datos) => {
          console.log(datos);
          this.$router.push("/fondos");
        });
    },
    makeToast(titulo, texto, tipo) {
      this.toastCount++;
      this.$bvToast.toast(texto, {
        title: titulo,
        variant: tipo,
        autoHideDelay: 5000,
        appendToast: true,
      });
    },
  },
  mounted: function () {
    this.form.id = this.$route.params.id;
    axios
      .get("http://localhost:8085/api/v1/fund/" + this.form.id)
      .then((datos) => {
        this.form.name = datos.data.name;
        this.form.total = datos.data.total;
        this.form.value = datos.data.value;
        this.form.dateCreation = datos.data.dateCreation;
        //this.form.status = datos.data.status ? '1' : '0'
      });
  },
};
</script>
<style scoped>
.left {
  text-align: left;
}
.margen {
  margin-left: 15px;
  margin-right: 15px;
}
</style>
