<template>
  <div>
    <Header />

    <div class="container izquierda">
      <button class="btn btn-primary" v-on:click="nuevo()">
        Nuevo crédito
      </button>
      <br /><br />

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Asociado</th>
            <th scope="col">Valor</th>
            <th scope="col">Día de vencimiento</th>
            <th scope="col">Fecha de devolución</th>
            <th scope="col">Estado</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Aprobado</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="detalle in datos"
            :key="detalle.id"
            v-on:click="editar(detalle.id)"
          >
            <th scope="row">{{ detalle.id }}</th>
            <td>{{ detalle.associate.firstName }} {{ detalle.associate.lastName }}</td>
            <td>{{ detalle.value }}</td>
            <td>{{ detalle.dueDay }}</td>
            <td>{{ detalle.refundDate }}</td>
            <td>
              <span v-if="detalle.status">Activo</span>
              <span v-if="!detalle.status">Inactivo</span>
            </td>
            <td>{{ detalle.description }}</td>
            <td>{{ detalle.approve }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script>
import Header from "@/components/Header.vue";
import axios from "axios";
export default {
  name: "CreditosLista",
  data() {
    return {
      datos: null,
      pagina: 1,
    };
  },
  components: {
    Header,
  },
  methods: {
    editar(id) {
      this.$router.push("/creditos/editar/" + id);
    },
    nuevo() {
      this.$router.push("/creditos/nuevo");
    },
  },
  mounted: function () {
    let direccion = "http://localhost:8085/api/v1/credit/all";
    axios.get(direccion).then((data) => {
      this.datos = data.data;
    });
  },
};
</script>
<style  scoped>
.izquierda {
  text-align: left;
}
</style>
