<template>
  <div>
    <Header />
    <div class="container">
      <form action="" class="form-horizontal">
        <div class="form-group left">
          <label for="" class="control-label col-sm-2">Valor</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              name="value"
              id="value"
              v-model="form.value"
            />
          </div>
        </div>
        <div class="form-group left">
          <label for="" class="control-label col-sm-2">días de plazo</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              name="dueDay"
              id="dueDay"
              v-model="form.dueDay"
            />
          </div>
        </div>
        <div class="form-group left">
          <label for="" class="control-label col-sm-2"
            >Fecha de devolución</label
          >
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              name="refundDate"
              id="refundDate"
              v-model="form.refundDate"
            />
          </div>
        </div>
        <div class="form-group left row">
          <div class="col">
            <label for="" class="control-label col-sm-3">Estado</label>
            <div class="col-sm-10">
              <select name="status" id="status" v-model="form.status">
                <option value="1">Activo</option>
                <option value="0">Inactivo</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group left">
          <label for="" class="control-label col-sm-2">Descripción</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              name="description"
              id="description"
              v-model="form.description"
            />
          </div>
        </div>
        <div class="form-group left">
          <label for="" class="control-label col-sm-2">Aprobación</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              name="approve"
              id="approve"
              v-model="form.approve"
            />
          </div>
        </div>
        <div class="form-group left">
          <label for="" class="control-label col-sm-2">AsociadoId</label>
          <div class="col-sm-10">
            <input
              type="number"
              class="form-control"
              name="associateId"
              id="associateId"
              v-model="form.associateId"
            />
          </div>
        </div>

        <div class="form-group">
          <button type="button" class="btn btn-primary" v-on:click="editar()">
            Editar
          </button>
          <button
            type="button"
            class="btn btn-danger margen"
            v-on:click="eliminar()"
          >
            Eliminar
          </button>
          <button
            type="button"
            class="btn btn-dark margen"
            v-on:click="salir()"
          >
            Salir
          </button>
        </div>
      </form>
    </div>
    <!-- <Footer />   -->
  </div>
</template>
<script>
import Header from "@/components/Header.vue";
//import Footer from '@/components/Footer.vue';
import axios from "axios";
export default {
  name: "EditarCredito",
  components: {
    Header,
    //Footer
  },
  data: function () {
    return {
      form: {
        id: 0,
        value: "",
        dueDay: "",
        refundDate: "",
        status: "",
        description: "",
        approve: "",
        associateId: ""
      },
    };
  },
  methods: {
    editar() {
      const payload = {
        id: this.form.id,
        value: this.form.value,
        dueDay: this.form.dueDay,
        refundDate: this.form.refundDate,
        status: parseInt(this.form.status),
        description: this.form.description,
        approve: this.form.approve,
        associateId: this.form.associateId
      };
      axios
        .put("http://localhost:8085/api/v1/credit/update", payload)
        .then((data) => {
          this.makeToast("Hecho", data.data.message, "success");
          console.log(data);
        });
    },
    salir() {
      this.$router.push("/creditos");
    },
    eliminar() {
      axios
        .delete("http://localhost:8085/api/v1/credit/delete/" + this.form.id)
        .then((datos) => {
          console.log(datos);
          this.$router.push("/creditos");
        });
    },
    makeToast(titulo, texto, tipo) {
      this.toastCount++;
      this.$bvToast.toast(texto, {
        title: titulo,
        variant: tipo,
        autoHideDelay: 5000,
        appendToast: true,
      });
    },
  },
  mounted: function () {
    this.form.id = this.$route.params.id;
    axios
      .get("http://localhost:8085/api/v1/credit/" + this.form.id)
      .then((datos) => {
        this.form.value = datos.data.value;
        this.form.dueDay = datos.data.dueDay;
        this.form.refundDate = datos.data.refundDate;
        this.form.status = datos.data.status ? "1" : "0";
        this.form.description = datos.data.description;
        this.form.approve = datos.data.approve;
        this.form.associateId = datos.data.associateId
      });
  },
};
</script>
<style scoped>
.left {
  text-align: left;
}
.margen {
  margin-left: 15px;
  margin-right: 15px;
}
</style>
