<template>
    <div>
        <Header />
            <div class="container">
                <h4>Nuevo Rol</h4>

                <form action="" class="form-horizontal">
                    <div class="form-group left">
                       <label for="" class="control-label col-sm-2">Nombre</label>
                       <div class="col-sm-10">
                          <input type="text" class="form-control" name="name" id="name" v-model="form.name">
                       </div>
                    </div>
                    <div class="form-group left">
                       <label for="" class="control-label col-sm-2">Descripción</label>
                       <div class="col-sm-10">
                          <input type="text" class="form-control" name="description" id="description" v-model="form.description">
                       </div>
                    </div>
                    <div class="form-group left row">
                      <div class="col">
                            <label for="" class="control-label col-sm-3">Estado</label>
                            <div class="col-sm-10">
                                <select name="status" id="status" v-model="form.status">
                                    <option value="1">Activo</option>
                                    <option value="0">Inactivo</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                      <button type="button" class="btn btn-primary mr-10" v-on:click="guardar()" >Guardar</button>
                      <button type="button" class="btn btn-dark margen" v-on:click="salir()" >Salir</button>
                    </div> 
                </form>


            </div>
        <!-- <Footer /> -->

    </div>
</template>
<script>
import Header from '@/components/Header.vue'
//import Footer from '@/components/Footer.vue'
import axios from 'axios';
export default {
    name:"Nuevo",
    data:function(){
        return {
            form:{
                'name': '',
                'description': '',
                'status': '1'
            }
        }
    },
    components:{
        Header,
        //Footer
    },
    methods:{
        guardar(){
            // this.form.token = localStorage.getItem("token");
            const payload = {
                'name': this.form.name,
                'description': this.form.description,
                'status': parseInt(this.form.status)
            } 

            axios.post("http://localhost:8085/api/v1/roles/save", payload)
            .then(data =>{
                console.log(data);
                this.makeToast("Hecho", data.data.message,"success");
                this.$router.push("/roles");
            }).catch( e =>{
                console.log(e);
                 this.makeToast("Error","Error al guardar","error");
            })
        },
        salir(){
            this.$router.push("/roles");
        },
        makeToast(titulo,texto,tipo) {
            this.toastCount++
            this.$bvToast.toast(texto, {
            title: titulo,
            variant: tipo,
            autoHideDelay: 5000,
            appendToast: true
            })
        }
        
    }
}
</script>
<style scoped>
.left{
    text-align:  left;
}
.mr-10 {
    margin-right: 10px;
}
</style>