<template>
    <div>
        <Header/>

            
        <Footer/>
    </div>
</template>
<script>
import Header from '@/components/Header.vue';
import Footer from '@/components/Footer.vue';
export default {
    name:"Dashboard",
    data(){
        return {
            datos:null,
            pagina:1
        }
    },
    components:{
        Header,
        Footer
    }
    
}
</script>
<style  scoped>
    .izquierda{
        text-align: left;
    }
</style>