<template>

        <div>
            <footer>

               Seminario de actualización

             </footer>

        </div>

</template>
<style  scoped>
footer {
    position: fixed;
    height: 25px;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: blanchedalmond;
}
</style>