<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="info">
      <b-navbar-brand href="/home">CoopFamiliar</b-navbar-brand>
      <b-navbar-brand href="/roles">Roles</b-navbar-brand>
      <b-navbar-brand href="/asociados">Asociados</b-navbar-brand>
      <b-navbar-brand href="/creditos">Creditos</b-navbar-brand>
      <b-navbar-brand href="/fondos">Fondos</b-navbar-brand>
      <!--<b-navbar-brand href="/auxilios">Auxilios</b-navbar-brand>-->
    </b-navbar>
    <br /><br />
  </div>
</template>
<style scoped>
</style>
